<div class="banner-image">
  <div class="column is-6 is-offset-3">
    <div class="card header-margin background-colour header-border">
      <div class="name-header">
        <h1> Elise Young </h1>
      </div>
    </div>
  </div>
</div>
