<div class="banner-image">
  <div class="columns">
    <div class="column is-2 is-offset-1">
      <div class="box">
        <div class="link-top">
          <h1 href="#about"> About </h1>
        </div>
      </div>
    </div>
    <div class="column is-2 is-offset-5">
      <div class="box">
        <div class="link-top text-right">
          <h1> Contact </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6 is-offset-3">
    <div class="box background-colour header-border">
      <div class="name-header">
        <h1> Elise Young </h1>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-2 is-offset-1">
      <div class="box">
        <div class="link-bottom">
          <h1> Skills </h1>
        </div>
      </div>
    </div>
    <div class="column is-2 is-offset-5">
      <div class="box">
        <div class="link-bottom text-right">
          <h1> Projects </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="column is-5 is-offset-1">
    <div class="header" id="about">
      <h1> About Me </h1>
    </div>
    <div class="margin-bottom">
      <p>Hi, I’m Elise and I’m a wannabe full stack web developer located in Sydney. I am currently studying at Coder Factory Academy and hope to become a full stack developer once I have finished. I want to code amazing and creative things!
      I have also obtained a Diploma of Business which had heavy focus in the fashion industry. I have extensive customer service experience and enjoy developing stong client relationships </p>
    </div>
  </div>
  <div class="column is-5 is-offset-7">
    <div class="header">
      <h1> Skills </h1>
    </div>
    <div class="margin-bottom">
      <p> I am currently learning Ruby, Ruby on Rails and Javascript. I would love to become fluent in as many programming languages as possible.</p>
    </div>
  </div>
  <div class="column is-5 is-offset-1">
    <div class="header">
      <h1> Previous Projects </h1>
    </div>
    <div class="margin-bottom">
      <p>Hi, I’m Elise and I’m a wannabe full stack web developer located in Sydney. I am currently studying at Coder Factory Academy and hope to become a full stack developer once I have finished. I want to code amazing and creative things!
      I have also obtained a Diploma of Business which had heavy focus in the fashion industry. I have extensive customer service experience and enjoy developing stong client relationships </p>
    </div>
  </div>

  <div class="background-colour">
    <div class="container">
      <div class="column is-8 is-offset-2">
          <ul class="timeline">
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">ATM</h4>
                </div>
                <div class="timeline-body">
                  <p>Whilst studying I completed an application that simulated and ATM.<a href="https://github.com/EliseYoung22/CFA-ATM-terminal-app"> Click here to see my ATM on Github.</a></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-pencil"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Quiz</h4>
                </div>
                <div class="timeline-body">
                  <p>In a group assignment we created a 2 person quiz that also got additional results from a google docs form.<a href="https://github.com/BinnyK/cfa-project-group-quiz">Click here to see our Quiz on Github.</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-picture"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zengarden</h4>
                </div>
                <div class="timeline-body">
                  <p> During class we took on the Zengarden challenge. The challenge was to decorate the Zengarden html using CSS.<a href="https://github.com/EliseYoung22/Zengarden/commit/035b1bc410ae708510b7cca83ca4f0092f362d3c">Click here to see my Zengarden GitHub.</a></p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-education"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">My Portfolio</h4>
                </div>
                <div class="timeline-body">
                  <p>I created this portfolio you're looking at. I used a mixture of Ruby on Rails, HTML/CSS and Javascript to build it.<a href="https://github.com/EliseYoung22/Zengarden/commit/035b1bc410ae708510b7cca83ca4f0092f362d3c">Click here to see my Portfolio details on GitHub.</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-picture"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Careforcaring</h4>
                </div>
                <div class="timeline-body">
                  <p> During class we took on the Zengarden challenge. The challenge was to decorate the Zengarden html using CSS.<a href="https://github.com/EliseYoung22/Zengarden/commit/035b1bc410ae708510b7cca83ca4f0092f362d3c">Click here to see my Zengarden GitHub.</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
