<!-- <script src="dist/js/smooth-scroll.js"></script> -->

<div class="banner-image">
  <div class="columns">
    <div class="column is-2 is-offset-1">
      <div class="box animated  zoomIn">
        <div class="link-top">
          <h1><a data-scroll href="#about"> About</a> </h1>
          <div class="frame-left-top animated zoomIn">
          </div>
        </div>
      </div>
    </div>
    <div class="column is-2 is-offset-5">
      <div class="box">
        <div class="link-top text-right">
          <h1><a data-scroll href="/contact"> Contact</a> </h1>
          <div class="frame-right-top">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6 is-offset-3">
    <div class="box background-colour header-border">
      <div class="name-header">
        <h1> Elise Young </h1>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-2 is-offset-1">
      <div class="box">
        <div class="link-bottom">
          <div class="frame-left-bottom">
          </div>
          <h1><a data-scroll href="#skills">Skills</a> </h1>
        </div>
      </div>
    </div>
    <div class="column is-2 is-offset-5">
      <div class="box">
        <div class="link-bottom text-right">
          <div class="frame-right-bottom">
          </div>
          <h1 class="header-bottom-margin"><a data-scroll href="#projects"> Projects</a> </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="container">
    <div class="columns">
      <div class="column is-6 margin-top">
        <div class="header" id="about">
          <h1> About Me </h1>
        </div>
        <div class="margin-bottom">
          <p class="font-size">Hi, I’m Elise and I’m a wannabe web developer located in Sydney. I am currently studying at Coder Factory Academy and hope to become a full stack developer once I have finished. I want to code amazing and creative things!<br>
          I have also obtained a Diploma of Business which had heavy focus in the fashion industry. When I'm not glued to my computer I enjoy cooking, outdoor adventures and reading. </p>
        </div>
      </div>
      <div class="column">
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051345/australian-continent_ktie63.png" height="80px" width="80px" id="monitor"/>
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051429/book_d1hplp.png" height="80px" width="80px" id="book"/>
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051423/bowl_a27g7s.png" height="80px" width="80px" id="bowl"/>
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051514/dress_b3eoym.png" height="80px" width="80px" id="dress" />
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051440/ruby_usgovd.png" height="80px" width="80px" id="ruby"/>
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051448/html_teyeih.png" height="80px" width="80px" id="html"/>
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051455/css_zbavx6.png" height="80px" width="80px" id="css"/>
        <img src="http://res.cloudinary.com/devsvbpxr/image/upload/v1494051444/js_z1ugmc.png" height="80px" width="80px" id="js"/>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="header" id="skills">
          <h2> Skills </h2>
        </div>
        <div class="margin-bottom">
          <p class="font-size"> During my studies we have learn't Ruby, Ruby on Rails and Javascript. We are currently focussing on Node.js and React.js. I would love to become fluent in as many programming languages as possible!</p>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="header" id="projects">
        <h1> Previous Projects </h1>
      </div>
      <div class="margin-bottom">
        <p class="font-size">Down below is a timeline of the projects I have completed during my studies. These are my most notable pieces but feel free to check out more repositories on my <a href="https://github.com/EliseYoung22">GitHub</a> page.</p>
      </div>
    </div>
  </div>

  <div class="background-colour">
    <div class="container">
      <div class="column is-10 is-offset-1">
          <ul class="timeline">
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">ATM</h4>
                </div>
                <div class="timeline-body">
                  <p>Whilst studying I completed an application that simulated and ATM.<a class="white-links" href="https://github.com/EliseYoung22/CFA-ATM-terminal-app"><br> Check out my ATM on Github.</a></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-pencil"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Quiz</h4>
                </div>
                <div class="timeline-body">
                  <p>In a group assignment we created a 2 person quiz that also got additional results from a google docs form.<a class="white-links" href="https://github.com/BinnyK/cfa-project-group-quiz"><br>Check out our Quiz on Github.</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-picture"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zengarden</h4>
                </div>
                <div class="timeline-body">
                  <p> During class we took on the Zengarden challenge. The challenge was to decorate the Zengarden html using CSS.<a class="white-links" href="https://github.com/EliseYoung22/Zengarden/commit/035b1bc410ae708510b7cca83ca4f0092f362d3c"><br>Check out my Zengarden GitHub.</a></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-education"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">My Portfolio</h4>
                </div>
                <div class="timeline-body">
                  <p>I created this portfolio you're looking at. I used a mixture of Ruby on Rails, HTML/CSS and Javascript to build it.<a class="white-links" href="https://github.com/EliseYoung22/eliseyoungportfolio"><br>Check out my Portfolio details on GitHub.</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-picture"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">CareforCaring</h4>
                </div>
                <div class="timeline-body">
                  <p> For our second major project we were asked to create an app for a 2 sided platform. I chose to focus on a social-cause and developed CareforCaring.<a class="white-links" href="https://github.com/EliseYoung22/CFA-Major-Project-2"><br>Check out CareforCaring on Github.</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="icons">
    <div class="columns">
      <div class="column is-6 is-offset-2">
      <a href="https://www.facebook.com"><img src="<%=asset_path 'facebook-logo.png'%>" height= "60px" width= "60px" id="fb"/>
      <a href="https://github.com/EliseYoung22"><img src="<%=asset_path 'github-sign.png'%>"
      height= "60px" width= "60px" id="git"/>
      <a href="https://www.instagram.com/"><img src="<%=asset_path 'instagram.png'%>"
      height= "60px" width= "60px" />
    </div>
  </div>
</body>
