<!DOCTYPE html>
<html>
  <head>
    <title>Folio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="animate.min.css">

  </head>

  <body>
    <%= yield %>
    <script>
        smoothScroll.init();
    </script>
  </body>
</html>
